/* le selecteur universel etoile s'adresse a tous les eléments*/

@font-face {
    font-family: police;
    src: url('../../Fonts/Karantina-Regular.ttf');
}

body {
    margin: 0;
    font-family: 'police';
    background: linear-gradient(to bottom right, blue, white);
    background-size: cover;
    background-repeat: no-repeat;
}


*{
    font-family: 'police';
}

/* Creation d'une  classe CSS avec le selecteur . */
.info {
    background-color: blue
}

.premier {
    font-size: 30px;
}

h2 {font-family: verdana,sans-serif; 
    font-size:18px;
}
/* Selecteur descendant */
/* Ici on cible tous les enfants li de la balise ul */
ul>li 
   {
    color: blue; 
    background: #FF4040;
    margin: 14px 14px 14px 14px;
    list-style: square;
}

 #font {font-family: serif;}

p.rouge {
    color: red;
}
div.code {
    font-family: Courier New ;
}

div.exemple {
    font-family: Courier New ;
}

ol>li {
    background-color: yellow;
}





